.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }
  
  button {
    padding: 20px 30px;
    font-size: 20px;
    background-color: #606060;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 15px;
  }
  
  #sanash {
    font-size: 24px;
    margin: 0 10px;
  }
  .text{
    text-align: center;
  }